/* Mulish font input from google  */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");
/* CSS variable start  */
:root {
  --primary-color: #ff5400;
  --secondary-color: #131318;
  --white-color: #fff;
  --paragraph-text-color: #5a5a5d;
}
/* CSS variable end  */

/* Rest CSS start  */
* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  /* border: none;
  outline: none; */
}
header,
footer,
section {
  display: block;
  float: left;
  width: 100%;
}
.mt-100 {
  margin-top: 100px;
}
.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ff5400;
}
body {
  font-family: "Mulish", sans-serif;
}

/* Rest CSS end  */
/* Global CSS start  */
.section-title {
  color: var(--secondary-color);
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.content-title {
  color: var(--secondary-color);
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
}
img {
  width: 100%;
}
.icon {
  width: 64px;
}
.btn {
  color: var(--white-color);
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
  background-color: var(--primary-color);
  padding: 15px 35px;
  border-radius: 8px;
  display: inline;
}
/* Global CSS end  */
/* Home page css start  */
/* Header css start  */
.header-section {
  margin-top: 30px;
}
.body-pera {
  color: var(--paragraph-text-color);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.header-section .header-logo-menu-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 56px;
  justify-content: space-between;
  align-items: center;
}
.brand-logo a.logo {
  height: 56px;
  display: flex;
  align-items: center;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: var(--secondary-color);
}
.brand-logo .logo img {
  height: 56px;
  margin-right: 16px;
}
.brand-logo .logo span {
  margin-left: 10px;
  color: var(--primary-color);
}

/* Menu area css start  */
.desk-nav {
  display: flex;
  gap: 44px;
}
.desk-nav li a {
  color: var(--secondary-color);
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
.desk-nav li a.active {
  color: var(--primary-color);
  font-weight: 700;
}
/* Menu area css end  */
/* Header Banner css start  */
.header-banner {
  margin-top: 49px;
  background-image: url("../images/header-img.jpg");
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.banner-overlay {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.header-banner .banner-content-wrap {
  color: var(--white-color);
  text-align: center;
  width: 800px;
}
.header-banner .banner-content-wrap .banner-title {
  color: var(--white-color);
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}
.header-banner .banner-content-wrap .body-pera {
  width: calc(100% - 124px);
  display: block;
  margin-bottom: 48px;
  color: var(--white-color);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.header-banner .banner-content-wrap .search-group {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  height: 84px;
  display: block;
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
input,
select,
button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: none;
  outline: none;
}
input::placeholder,
select#when,
select#select {
  padding: 16px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-right: 16px solid transparent;
}
button {
  border-radius: 8px;
  background: var(--primary-color);
  color: var(--white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
button .fa-solid {
  margin-right: 8px;
}
/* Header Banner css end  */
/* Header css end  */
/* Our popular tours section CSS start  */
.popular-section .tour-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 53;
  width: 100%;
}
.tour-text,
.tour-img {
  width: calc(50% - 26.5px);
  height: auto;
}
.tour-text ul li {
  list-style: disc;
  margin-bottom: 24px;
}
.tour-text p,
.tour-text ul {
  margin-top: 24px;
}
.sec-pera {
  color: rgba(19, 19, 24, 0.7);
}
.popular-section .tour-wrap .tour-text p {
  display: block;
}
.popular-section .tour-wrap .tour-text .btn {
  display: inline;
  margin-top: 32px;
  float: left;
}

/* Our popular tours section CSS end  */
/* Choose Your Destination section start  */
.destination-sec .dest-text-content {
  text-align: center;
}
.destination-sec .dest-text-content p {
  width: 663px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  margin-bottom: 48px;
}
.destination-sec .dest-grid {
  display: grid;
  width: 100%;
  gap: 24px;
  grid-template-areas:
    "mal mal mal mal mal mal indo indo indo indo indo indo"
    "sri sri sri sri usa usa usa usa usa kas kas kas"
    "bd bd bd bd bd ban ban ban ban ban ban ban";
}

.grid-item-1 {
  grid-area: mal;
}
.grid-item-2 {
  grid-area: indo;
}
.grid-item-3 {
  grid-area: sri;
}
.grid-item-4 {
  grid-area: usa;
}
.grid-item-5 {
  grid-area: kas;
}
.grid-item-6 {
  grid-area: bd;
}
.grid-item-7 {
  grid-area: ban;
}
.raious {
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.raious .place {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  transition: all ease-in-out 300ms;
}
.raious .place:hover {
  color: var(--primary-color);
  filter: grayscale(0);
  background-color: #02020260;
}

/* Choose Your Destination section end  */
/* Why Choose Us section start  */

.choose-us-section .text-section {
  text-align: center;
}
.choose-us-section .text-section .sec-pera {
  width: 643px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}
.choose-us-section .chose-cart-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-top: 48px;
}
.choose-us-section .chose-cart-container .cart-item {
  flex-basis: 572px;
  padding: 32px;
}
.choose-us-section .chose-cart-container .cart-item .content-title {
  margin-top: 32px;
  margin-bottom: 16px;
}
.choose-us-section .chose-cart-container .cart-item:nth-child(odd) {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.choose-us-section .chose-cart-container .cart-item:nth-child(even) {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
/* Why Choose Us section end  */
/* Deals and discount section start  */
.deals-section .text-content {
  text-align: center;
}
.deals-section .text-content .body-pera {
  width: 643px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}
.deals-section .deal-item {
  display: block;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 24px;
}
.deals-section .deal-item:last-child {
  margin-bottom: 0;
}
.deal-container {
  width: 100%;
}
.deals-section .deal-item .price-wrap {
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 50px;
  width: 579px;
  height: 389px;
  margin: 56px;
}

.deals-section .deal-container .deal-item:nth-child(even) .price-wrap {
  float: left;
}
.deals-section .deal-container .deal-item:nth-child(odd) .price-wrap {
  float: right;
}

.deals-section .deal-item .bg-1 {
  background-image: url("../images/deals-tour-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}
.deals-section .deal-item .bg-2 {
  background-image: url("../images/drals-tours-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}
.deals-section .deal-item .bg-3 {
  background-image: url("../images/deal-tour-3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}
.deals-section .deal-item .price-wrap .time-date {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 24px;
}
.deals-section .deal-item .price-wrap .time-date p {
  color: var(--paragraph-text-color);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
}
.deals-section .deal-item .price-wrap .time-date .fa-solid {
  color: var(--primary-color);
  margin-right: 8px;
}
/* Deals and discount section end  */
/* Home page css end  */

@media screen and (max-width: 600px) {
  .desk-nav-area {
    display: none;
  }
  .container {
    width: calc(100% - 24px);
  }
  .brand-logo .logo img {
    height: 35px;
  }
  .brand-logo {
    width: calc(100% - 80px);
  }
  .brand-logo a.logo {
    font-size: 21px;
  }
  .mbl-nav {
    font-size: 21px;
  }
  .mbl-nav:hover {
    color: var(--primary-color);
  }
  /* header banner mobile support css start  */
  .header-banner {
    height: auto;
    border-radius: 16px;
    overflow: hidden;
    margin-top: 18px;
  }
  .header-banner .banner-content-wrap .banner-title {
    text-align: center;
    font-size: 22px;
    font-weight: 800;
  }
  .header-banner .banner-content-wrap .body-pera {
    width: 100%;
  }
  .banner-overlay {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 16px;
  }
  .header-banner .banner-content-wrap {
    width: 100%;
    margin: 32px 0;
  }
  .header-banner .banner-content-wrap .search-group {
    width: calc(100% - 48px);
    margin: 0 auto;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  input,
  select,
  button {
    width: calc(100% - 32px);
  }
  /* header banner mobile support css end  */
  /* Our popular tours section mobile support CSS start  */
  .popular-section .tour-wrap {
    flex-direction: column;
  }
  .tour-text,
  .tour-img {
    width: 100%;
  }
  .popular-section .tour-wrap .tour-text .btn {
    margin-top: 24px;
  }
  .section-title {
    font-size: 20px;
  }
  .mt-100,
  .tour-img {
    margin-top: 24px;
  }
  /* Our popular tours section mobile support CSS end  */
  /* Choose Your Destination mobile support CSS start  */
  .destination-sec .dest-text-content p {
    width: 100%;
  }
  .destination-sec .dest-grid {
    grid-template-areas:
      "mal"
      "indo"
      "sri"
      "usa"
      "kas"
      "bd"
      "ban";
  }
  /* Choose Your Destination mobile support CSS end  */
  /* Why choose us section mobile device support css start  */
  .choose-us-section .text-section .sec-pera {
    width: 100%;
  }
  /* Why choose us section mobile device support css end  */
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .desk-nav-area {
    display: none;
  }
  .mbl-nav {
    font-size: 25px;
  }
  .mbl-nav:hover {
    color: var(--primary-color);
  }
  .popular-section .tour-wrap {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .desk-nav-area {
    display: none;
  }
  .container {
    width: calc(100% - 24px);
  }
  .mbl-nav {
    font-size: 30px;
  }
  .mbl-nav:hover {
    color: var(--primary-color);
  }
  /* Header banner section Tab support css start  */
  input,
  select,
  button {
    width: 159px;
  }
  /* Header banner section Tab support css end  */
  /* Our Popular tours section Tab support css start  */
  .popular-section .tour-wrap {
    flex-direction: column;
  }
  .tour-text,
  .tour-img {
    width: 100%;
  }
  .tour-img {
    margin-top: 50px;
  }
  /* Our Popular tours section Tab support css end  */
  .choose-us-section .chose-cart-container .cart-item {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .mobile-nav-area {
    display: none;
  }
  .container {
    width: calc(100% - 24px);
  }
  .mobile-nav-area {
    display: none;
  }
  .choose-us-section .chose-cart-container .cart-item {
    flex-basis: 487px;
  }
}
@media screen and (min-width: 1024px) {
  .mobile-nav-area {
    display: none;
  }
  .container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }
  .mobile-nav-area {
    display: none;
  }
}
